In [1]:
#import the dependencies
import pandas as pd
import gmaps 
import requests

#import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,75.16,92,77,5.01,EC,2022-06-29 21:15:05
1,1,Nikolskoye,59.7035,30.7861,64.29,63,0,3.36,RU,2022-06-29 21:15:05
2,2,Busselton,-33.6500,115.3333,47.93,85,0,10.22,AU,2022-06-29 21:11:41
3,3,Bengkulu,-3.8004,102.2655,73.63,88,100,12.93,ID,2022-06-29 21:15:07
4,4,Port Elizabeth,-33.9180,25.5701,46.69,76,0,4.61,ZA,2022-06-29 21:15:08

In [16]:
#get the datetypes; to confirm columns are integers or floating point decimal numbers
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [17]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [18]:
#Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]

#Assign the weights variable to some values weights=max_temps
# Get the maximum temperature
max_temp = city_data_df["Max Temp"] 
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))
    
#Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
heatmap_layer =  gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

#add the heatmap layer 
fig.add_layer(heatmap_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidit
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
#Heatmap of percent clouds

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Heatmap of percent clouds

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("what is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
what is the maximum temperature you would like for your trip? 85

In [40]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df[(city_data_df["Max Temp"] <= max_temp) & \
                                   (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Puerto Ayora,-0.7393,-90.3518,75.16,92,77,5.01,EC,2022-06-29 21:15:05
3,3,Bengkulu,-3.8004,102.2655,73.63,88,100,12.93,ID,2022-06-29 21:15:07
8,8,Port Blair,11.6667,92.7500,81.52,81,99,10.80,IN,2022-06-29 21:15:12
11,11,Clinton,42.5870,-82.9199,84.27,61,75,6.91,US,2022-06-29 21:15:16
12,12,Lagos,6.5833,3.7500,76.42,90,100,6.78,NG,2022-06-29 21:13:18
15,15,Sudak,44.8500,34.9667,71.08,62,2,6.46,UA,2022-06-29 21:15:17
20,20,Piacabucu,-10.4056,-36.4344,73.98,77,62,7.14,BR,2022-06-29 21:15:21
24,24,Kapaa,22.0752,-159.3190,82.72,67,100,16.11,US,2022-06-29 21:15:23
25,25,Butaritari,3.0707,172.7902,80.87,81,100,17.83,KI,2022-06-29 21:15:24
27,27,Avarua,-21.2078,-159.7750,80.65,69,40,6.91,CK,2022-06-29 21:15:25

In [41]:
#checking if this DF has any null values
#preferred_cities_df.isnull()
preferred_cities_df.count()

City_ID       215
City          215
Lat           215
Lng           215
Max Temp      215
Humidity      215
Cloudiness    215
Wind Speed    215
Country       215
Date          215
dtype: int64

In [42]:
#create a new DF to store hotel names. copying the previous DF
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0   Puerto Ayora      EC     75.16  -0.7393  -90.3518
3       Bengkulu      ID     73.63  -3.8004  102.2655
8     Port Blair      IN     81.52  11.6667   92.7500
11       Clinton      US     84.27  42.5870  -82.9199
12         Lagos      NG     76.42   6.5833    3.7500
15         Sudak      UA     71.08  44.8500   34.9667
20     Piacabucu      BR     73.98 -10.4056  -36.4344
24         Kapaa      US     82.72  22.0752 -159.3190
25    Butaritari      KI     80.87   3.0707  172.7902
27        Avarua      CK     80.65 -21.2078 -159.7750

In [43]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    
    #get the lat and Lng
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add the lat and Lng to location key for the params dic
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name
    except(IndexError):
        print("Hotel  not found... skipping")

Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping
Hotel  not found... skipping

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,75.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,Bengkulu,ID,73.63,-3.8004,102.2655,Grage Hotel Bengkulu
8,Port Blair,IN,81.52,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
11,Clinton,US,84.27,42.5870,-82.9199,River's Edge
12,Lagos,NG,76.42,6.5833,3.7500,
15,Sudak,UA,71.08,44.8500,34.9667,Solari Beach
20,Piacabucu,BR,73.98,-10.4056,-36.4344,Piaçabuçu News
24,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
25,Butaritari,KI,80.87,3.0707,172.7902,Isles Sunset Lodge
27,Avarua,CK,80.65,-21.2078,-159.7750,Paradise Inn

In [45]:
# Add a heatmap of temperature for the vacation spot
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)



info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))